seaborn==0.8.1
matplotlib==3.4.2
pandas==1.1.5
setuptools==39.0.1
lightgbm==2.1.0
scipy==1.6.3
numpy==1.19.5
xgboost==0.71
ipython==6.3.1
scikit_learn==0.24.2
kaggle==1.5.12
dvc==2.5.4
jupyterlab==3.0.16
